
@{
    Layout = null;
}
<div>
    <h2>Here's some content from a sample directive. It can be reused, can contain its own scripts, C#, and angular tools. Directives can get incredibly powerful.</h2>
</div>